*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;
}

nav{
    background-color: white;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 20px;
    font-family: "Poppins", sans-serif;

}


nav > .logo{
    width: 150px;
  
}

nav > .centre > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.centre > ul > li{
    font-size: 20px;
    font-weight: 600;
}

.centre > ul > li:hover{
    color: rgba(0, 0, 0, 0.54);
}

nav > .right > .r-btn{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-weight: 600;
}

nav > .right{
    display: flex;
align-items: center;
justify-content: center;
    gap: 15px;
}

nav > .right > .r-btn:hover{
    background-color: rgba(0, 0, 0, 0.54);
   
}

nav > .right > i{
    display: none;
}


main > .page1{
    background-image: url(https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     background-position:bottom;
     background-repeat: no-repeat;
     background-size:cover;
     width: 100%;
     height: 100vh;
}

.page1 > .box{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.page1 > .box > .circle{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    width: 600px;
    height: 600px;
    background-color: #d39221df ;
    border-radius: 100%;
}

.page1 > .box > .circle > h2{
    font-family: "Indie Flower", cursive;
}

.page1 > .box > .circle > .text1{
    margin-top: 10px;
   font-size: 40px;
   font-family: "Dancing Script", cursive;
   
}
.page1 > .box > .circle > .text2{
    font-family: "Fjalla One", sans-serif;
    margin-top: 10px;
   font-size: 70px;
}

.page1 > .box > .circle >.btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 > .box > .circle > .btn > button{
    background-color: black;
    padding: 20px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px ;
    color: white;
    border: none;
    font-weight: bold;
}

.page1 > .box > .circle > .btn > button:hover{
    background-color: #DFB68B;
    color: black;
}

.page2{
    display: flex;
 
    flex-direction: column;
     background-color: white;
     width: 100%;
     height: 130vh;
}

.page2 > h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 200px;
    text-align: center;
    color: rgba(133, 133, 133, 0.766);
}

.page2 > .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.page2 > .box > .left{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.page2 > .box > .left > img{
    width: 450px;
}

.page2 > .services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    gap: 40px;
}

.page2 > .services > .sbox{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
}

.page2 > .services > .sbox > .b1{
    width: 50px;
    height: 50px;
    background-color: rgb(165, 165, 165);
    border-radius: 100%;
    display: flex;
    color: white;
    align-items:center;
    justify-content: center;
    font-size: 30px;
}

.page2 > .services > .sbox  > .z1 >h1{
    font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
   
}

.page2 > .services > .sbox  > .z1 >h3{
 color: grey;
 font-family: "Fjalla One", sans-serif;
 font-size: small;
}

.page2 > .box > .right{
    margin-top: 50px;
    color: black;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.page2 > .box > .right > h2{
    text-transform: uppercase;
   font-size: xx-large;
    font-family: "Fjalla One", sans-serif;
}

.page2 > .box > .right > p{
    color: gray;
    padding: 25px 55px;
}

.page2 > .box > .right > .last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.page2 > .box > .right > .last >button{
   
    background-color: black;
    padding: 15px;
    color: white;
    border: none;
}

.page2 > .box > .right > .last >button:hover{
    background-color: rgba(0, 0, 0, 0.432);
}

 marquee{
    font-size: 100px;
    background-color: rgb(247, 230, 198);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
    background-color: rgb(235, 225, 205);
    z-index: -1;
} 

.page3{
     background-color: #F9F6F3;
     width: 100%;
     height: 90vh;
     margin-top: -10px;
     display: flex;   
    }

.page3 > .box{
      display: flex;
      justify-content: center;
      align-items: center;
} 

.page3 > .box > .left{
    width: 500px;
}

.page3 > .box > .center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

}

.page3 > .box > .center> p{
   font-size: larger;
   padding: 40px;
   font-family: "Dancing Script", cursive;
   
}
.page3 > .box > .center> h6{
    font-size:x-large;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;

}
.page3 > .box > .center> h5{
    font-size:large;
    padding-bottom: 2px;
    font-family:Arial, Helvetica, sans-serif;

}

.page3 > .box > .center >.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(165, 165, 165);
}

 .owner {
    background-image: url(boss.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.page4{
    background-color: #ffffff;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page4 > h6{
    color: red;

}

.page4 > h1{
    font-family: "Fjalla One", sans-serif;
    font-size: x-large;
    padding: 0 10px;
    padding-bottom: 50px;
    font-family: "Indie Flower", cursive;
}

.page4 > .box{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.page4 > .box > .b1 >img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.25s;
    box-shadow: 1px 1px 5px rgb(107, 107, 107);
    border-radius: 10px;
}

.page4 > .box > .b1 >img:hover{
    transform: scale(0.95);
    background-color: #eec59d;

}

.page4 > .box > .b1 > h2{
    font-family: "Indie Flower", cursive;
    line-height:50px;
    font-size: small;
    text-align: center;
    color: rgb(53, 50, 50);
}

footer{
    background-color: #FAF6F3;
    width: 100%;
    height: 40vh;
}

footer > .box {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 180px;
    align-items: center;
    text-align: center;
}

footer > .box > .f1 >i{
     font-size: xx-large;
     line-height: 50px;
}

footer > .box > .f1 >h5{
    line-height: 30px;
}

footer > .box > .f1 >p{
    color: grey;
}

footer > .box2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 300px;
}

footer > .box2 > .c1{
    font-size: 18px;
    color: gray;
}

footer > .box2 > .c2 >img{
    width: 180px;
}

footer > .box2 > .c3{
      font-size: 20px;
}

footer > .box2 > .c3>i:hover{
color: #9b7e61;
}

@media screen and (max-width:400px){
   nav > .centre{
    display: none;
   }    
  
   nav > .right > .r-btn{
    display: none;
   }

   nav > .right > i{
    display: initial !important;

}

.page1 > .box > .circle {
    font-size: 9px;
    width: 380px;
    height: 380px;
   margin-top: 185px;
}

.page2 > h1 {
    font-size: 55px;
    padding-top: 30px;
}

.page1 > .box > .circle > .text2 {
    padding-top: 0px;
    font-size: 52px;
}

.page1 > .box > .circle > .btn > button {
    width: 222px;
}

.page2{
    height: 160vh;
}

.page2 > .box{
    flex-direction: column;
}

.page2 > .box > .right {
  
    margin: 20px;
    width: 100%; 
}

.page2 > .box > .right > h2{
    font-size: x-large;
}

.page2 > .box > .right > p {
    text-align: center;
    padding: 10px 5px;
}

.page2 > .box > .right > .last{
    gap: 25px;
    margin-top: 30px;
}

.page2 > .services {
    align-items: start;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 48px;
    gap: 40px;
}

.page3{
    height: 160vh;
}

.page3 > .box {
  flex-direction: column;
}

.page3 > .box > .center {
    padding: 98px;
    padding-left: 0px;
}

.page3 > .box > .right{
    padding-right: 80px;
}

.page4{
    height: 160vh;
}
.page4 > .box {
    flex-direction: column;
  }
  
  footer{
    height: 80vh;
}
 
footer > .box {
    flex-direction: column;
    padding: 0;
}
footer > .box2 {
    margin-top: 50px;
    flex-direction: column;
    padding: 0;
}

}

@media (min-width:400px) and (max-width:1080px){
   
    nav > .centre{
        display: none;
       }    
      
       nav > .right > i{
        display: initial !important;
    }   
    
    .page1 > .box > .circle {
        margin-top: 150px;
    }
    
    .page2{
        height: 92vh;
    }



    .page2 > h1{
        font-size: 115px;
        padding-top: 39px;
    }
        

    .page2 > .box > .right > h2{
        font-size: 20px;
    }

    .page2 > .box > .right > p{
        padding: 25px 15px;
    }

    .page2 > .box > .right > .last {
        padding-top: 20px;
        gap: 20px;
    }
    
    .page2 > .services{
        gap: 0;
        padding-left: 30px;
    }



    .page3{
        height: 130vh;
        display: flex;
        flex-direction: column;
        align-items: center;
         
    }

    .page3 > .box > .left{
        padding-top: 50px;
        padding-left: 120px;
    }
    .page3 > .box > .right{
    
        padding-right: 80px;
    }
     
    .page3 > .box{
        flex-wrap: wrap;
    }
     
    .page4{
        height: 50vh;
    }

    .page4 > .box > .b1 >img {
        width: 200px;
        height: 200px;}
 
        footer > .box {
            padding: 0;
            padding-top: 50px;
        }

        footer > .box2 {
        padding: 0;
        padding-top: 100px;
        justify-content: space-evenly;
    }    
}