*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;

}
nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: black;
    width: 80%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}


nav > .left > .logo{
    width: 50px;
}

nav > .left {
    padding: 10px;
    display: flex;
    gap: 25px;
}

nav > .left > a{
    margin-top: 10px;
    text-decoration: none;
    color: #808080;
    font-size: medium;
    font-weight: 500;
}

.left > a:hover{
    color: white;
}

nav > .right {
    padding: 10px;
    display: flex;
    gap: 25px;
}

nav > .right > .btn{
    background-color: #808080;
   margin-top: 20px;
   font-size: medium;
   font-weight: 600;
   color: black;
    border: none;
    width: 45px; 
    height: 35px;   
    border-bottom-left-radius: 15px ;
    border-top-right-radius: 15px ;
    transition: 0.25s;
}

nav > .right > .btn1{
    background-color: #808080;
   margin-top: 20px;
   font-size: medium;
   font-weight: 600;
   color: black;
    border: none;
    width: 45px; 
    height: 35px;   
   border-radius: 7px;
   transition: 0.25s;
}

nav > .right > .store{
    background-color: #808080;
    margin-top: 20px;
    font-size: medium;
    font-weight: 600;
    color: black;
     border: none;
     width: 75px; 
     height: 35px;   
     border-bottom-left-radius: 15px ;
     border-top-right-radius: 15px ;
     transition: 0.25s;
}


nav > .right > i{
    color: #808080;
    font-weight: 600;
    font-size: large;
    padding: 25px;
    border-left: 1px solid #808080;
    transition: 0.25s;
}

.right > button:hover{
    background-color: white;
}
.right > i:hover{
    color: white;
}

.menu {
    display: none;
    font-size: 24px;
    color: white;
}


.banner{
background-image: url(https://supercell.com/_next/static/media/frontpage_hero.bca9ba5a.webp);
background-repeat: no-repeat;
background-position: center;
background-position-y: bottom;
background-size: cover;
width: 100%;
height: 80vh;
text-align: center;

}


.banner > h1{
  padding-top: 120px;
  font-size: 40px;
}

.banner > p{
    padding-top: 20px;
    margin: 0 500px;
    
    
}

.banner > .banner-btn{
    
    margin-top: 180px;
    background-color: #2D85F3;
    color: white;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 30px;
}

.banner-btn:hover{
    background-color: #0871f1;
    cursor: pointer;
    
}

.container1{
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background-color: aquamarine; */
}

.container1 > .box1 > img {
    padding-top: 20px;
    
    width: 90%;
    
}

.container1 > .box1,.container1 > .box2{
    text-align: center;
    
}

.container1 > .box1 > h4, .container1 > .box2 > h4{
     padding: 10px; 
        color: rgb(223, 46, 211);
}

.container1 > .box1 > p, .container1 > .box2 > p{
    font-weight:500; 
    padding: 10px;
    margin: 0 20px;
    font-size: 19px;       
}

.con4 > .box2 {
    visibility: hidden;
}

.container1 > .box2 > img {
    width: 90%; 
}

.btn-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-c {
    background-color: #0871f1;
    margin: 50px 0;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.container-box1{
    background-image: url(https://supercell.com/_next/static/media/bg_wmg_brawlstars.0fd2a716.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-box1 > .b1{
 width: 50%;    
}
.container-box1 > .b1 > h1 {
 padding: 10px;
 margin: 0  80px;
 font-size: 40px;
 color: white;
}
.container-box1 > .b1 > h3 {  
    padding: 10px;
    margin: 0 80px;
    color: white;
    line-height: 25px;
}
.container-box1 > .b1 > button {  
    background-color: white; 
    margin:30px 90px;
    color: black;
    padding: 20px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    
}

.container-box1 > .b2 > img{
    height: 550px;
}

.container-box2{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 122, 235);
}

.container-box2 > .b1 > img{
    height: 550px;
}

.container-box2 > .b2{
    width: 50%;    
   }
   .container-box2 > .b2 > h1 {
    padding: 10px;
    margin: 0  80px;
    font-size: 40px;
    color: white;
   }
   .container-box2 > .b2 > h3 {  
       padding: 10px;
       margin: 0 80px;
       color: white;
       line-height: 25px;
   }

.container-box2 > .b2 > button {  
    background-color: white; 
    margin:30px 90px;
    color: black;
    padding: 20px;
    border: none;
    font-weight: 600;
    border-radius: 10px;  
}

.article{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    margin: auto;
}

.article > .box1, .article > .box2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    box-shadow: 1px 1px 5px #88888886 ;
    
}

.article > .box1 > h3, .article > .box2 >h3{
   padding: 15px;

}
.article > .box1 > p, .article > .box2 >p{
    padding: 15px;
    
}
.article > .box1 >a, .article > .box2 >a{
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #2D85F3;
}


.article > .box1 >img, .article > .box2 >img{
    object-fit: cover;
    width: 100%;
}

footer{
    width: 100%;
    height: 65%;
    flex-direction: column;
    background-color: black;
    color: white;
    display: flex;
    padding: 0px 250px;
  
}

.f1{
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.512);
}


.f1 > .left {
    /* background-color: #0871f1; */
    width: 50%;
}
.f1 > .right{
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 50%;
    /* background-color: #0871f1; */
}
.f1 >.left > .icon{
    font-size: 40px;
}
.f1 >.left > i >img{
    height: 30px;
}

.f1 > .right > img{
    width: 150px;
}

.service{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service > ul {
    list-style: none;
display: flex;
font-size: small;
gap: 25px;
}

.last{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    gap: 60%;
    /* align-items: center; */
}


.last > .left> ul{
    list-style: none;
    color: #808080;
}
.last> .right >img {
    padding-top: 20px;
    margin-left: 110px;
    width: 50px;
}


/* @media (min-width: 600px) and (max-width: 1024px) {
    .left > img {
        height: 7vh;
    }
    .left {
        display: none !important;
    }

    .right {
        display: none !important;
    }

    .right > i {
        display: none !important;
    }

    .menu {
        display: initial;
    }
} */

@media screen and (max-width:500px) {
    .right{
        display: none !important;
    }
    nav{
        left: 50%;
        width: 100vw !important;
    }
    nav>.left>a{
        display: none;
    }

    .menu{
        display: block !important;
        height: 30px;
        width: 30px;
    }
}

/* @media (min-width: 320px) and (max-width: 600px) {
    nav {
        width: 100%;
    }

    .left > img {
        height: 7vh;
    }
    .left {
        display: none !important;
    }

    .right {
        display: none !important;
    }

    .right > i {
        display: none !important;
    }

    .menu {
        display: initial;
    }
} */

