*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;
}
nav{
    background-color: #000;
    color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav > .centre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    padding:10px;
    border: 1px solid gray;
}

nav > .centre >:first-child{
    background-color: yellowgreen;
    color: black;
}

nav > .centre >a{
    padding: 9px 22px;
    font-size: 18px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}
nav > .centre >a:hover{
    border: 1px solid yellowgreen;
}

nav > .right{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 15px;
 gap: 25px;
}

.vol{
    margin-top: -10px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid gray;
    font-size: xx-large;
    color: white;

}

#language{
    background-color: black;
    color: white;
    margin-top: -15px;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid gray;
    list-style-type: none;
}

#language >li :hover::after
{   content: "Укр";
 
    display: block;
    background-color: black;
    color: white;
    font-size: 18px; 
}

