*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
html, body{
height: 100%;
width: 100%;
}

body{
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    height: 500px;
    width: 1000px;
    background-color: #ffffff71;
    border-radius: 10px;
}

.left{
    height: 100%;
    width: 50%;
    background-image: url(Screenshot\ 2024-05-20\ 191035.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right > h2 {
    font-size: 35px;
    margin: 15px;
    color: white;
}
.right > input {
    width: 60%;
    padding: 10px;
    margin: 15px;
    outline: none;
    font-size: 20px;
    border-color: #8b21fd91;
    border-radius: 10px;
}

.btn > button{
    margin: 15px;
    padding:10px 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: #8b21fd91;
    color:#ffffff;
    border-radius: 30px;
    border: none;
}

button:hover{
    background-color: #b921ff6d;
}

@media screen and (max-width:400px)
{
   

    .container{
      
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
          
    .right > input{
        width: 150%;
    }

    .btn {
        text-align: center;
        display: flex;
        flex-direction: row;
    }



}
@media (min-width:401px) and (max-width:1080px)
{
  

    .container{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .right > input{
        width: 80%;
    }

    .btn {
        text-align: center;
        display: flex;
        flex-direction: row;
    }


}