@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
html, body{
height: 100%;
width: 100%;
}
body{
    background-color: #966BD1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
}

.box > .left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box > .left >img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
}

.box > .right > h1{
    margin-bottom: 30px;
}

.box > .right > .detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    width: 90%;
    padding: 0px 20px;
}

.box > .right > .detail >.left > ol{
  list-style:decimal;
}

.box > .right > .detail >.right >ul{
    list-style:none;
}