* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  position: fixed;
  gap: 70%;
}

nav > i {
  padding: 24px 0px;
  font-size: 25px;
}

nav > ul {
  list-style: none;
  padding: 24px;
  display: flex;
  gap: 15px;
  font-size: 20px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container > .left {
  width: 50%;
  height: 100%;
  background-color: rgb(224, 224, 224);
}
.container > .left > .box {
  width: 50%;
  height: 90%;
  background-color: rgb(224, 224, 224);
  position: absolute;
  top: 10%;
  left: 5%;
  box-shadow: 0px 0px 5px black;
}

.container > .right {
  width: 50%;
  height: 100%;
  background-image: url(https://rukminim2.flixcart.com/image/850/1000/xif0q/t-shirt/h/n/s/m-58675942-puma-original-imagezuzgsnfpvw3-bb.jpeg?q=90&crop=false);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin: auto; */
}

.box > .img {
  width: 80%;
  height: 45vh;
  margin: 20px;
  background-image: url(https://assets.ajio.com/medias/sys_master/root/20211014/gnYm/616825c2aeb269011092a165/-473Wx593H-460933904-white-MODEL.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.box > .content {
  margin: 20px;
}

.box > .content > h4 {
  margin: 10px 0;
  color: gray;
}

.box > .content > p {
  margin: 10px 0;
}

.box > .content > .size {
  margin: 10px 0;
  display: flex;
    gap: 5px;
}

.box > .content > .size > h3{
    margin: 5px 0;
    
}


.box > .content > .size > .s,
.m,
.l,
.xl {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn > button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
    color: white;
}