@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0c7f0;
}

nav {
  width: 100%;
  height: 8vh;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
}

nav .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav .left img {
  width: 50px;
}

nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav .right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

nav .right ul li:hover {
  cursor: pointer;
  color: rgb(205, 171, 248);
}

nav .right button {
  padding: 5px 10px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: rgba(210, 162, 255, 0.452);
  border: 1px solid white;
}
nav .right button:hover {
  background-color: rgba(207, 113, 250, 0.74);
  cursor: pointer;
}

.menu {
  display: none;
  font-size: 25px;
}

.page1 {
  padding-top: 5vh;
  width: 100%;
  height: 90vh;
  display: flex;
}

.page1 .left {
  width: 50%;
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  gap: 10px;
}

.page1 .left h1 {
  font-size: 35px;
  color: #b146b1;
}
.page1 .left h3 {
  font-size: 22px;
  color: #fc70fc;
}
.page1 .left p {
  font-size: 15px;
  color: gray;
  text-align: center;
  padding: 0 40px;
}

.page1 .left button {
  margin-top: 30px;
  padding: 8px 50px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #850785;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.page1 .left button:hover {
  transform: scale(1.1);
  background-color: #a711a7a9;
  cursor: pointer;
}

.page1 .right {
  width: 50%;
  height: 90vh;
  background-image: url(https://img.freepik.com/premium-photo/simple-beautiful-modern-house-design-hd-image_974166-986.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* search section */

.search {
  width: 100%;
  padding-top: 30px;
  height: 30vh;
  background-color: #800080;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.search input {
  outline: none;
  border: none;
  padding: 10px 10px;
  width: 250px;
  border-radius: 5px;
  font-size: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  width: 250px;
  font-size: 16px;
  border: none;
  outline: none;
  color: gray;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 110vh;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .submenu-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu:hover .submenu-content {
  display: block;
}

.arrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.search > .btn-s {
  border: none;
  padding: 10px 10px;
  width: 250px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: rgba(210, 162, 255, 0.452);
  border: 1px solid white;
}
.search > .btn-s:hover {
  background-color: rgba(207, 113, 250, 0.74);
  cursor: pointer;
}

/* 2nd page section */

.page2 {
  width: 100%;
  height: 250vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.page2 .heading {
    text-align: center;
    padding:0 300px;
}
.page2 .heading h1{
 padding: 15px;
 color:#850785;
}
.page2 .heading p{
color: rgb(61, 60, 60);
margin-bottom: 30px;
}

.page2 .line {
    width: 90%;
    height: 40vh;
    border: 3px solid #850785;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    background-color: #e0b0ff;

}

.page2 .line .le{
    width: 20%;
}

.page2 .line .le img{
    width: 170px;
    border: 3px solid #850785;
    border-radius: 5%;
    padding: 40px;
    background-color: rgb(236, 173, 255);
}
.page2 .line .le img:hover{
    background-color: #ce95fd;
    cursor: pointer;
}

.page2 .line .ri{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page2 .line .ri h3{
color:#800080;
}
.page2 .line .ri p{
color:#494949;
}

/* 3rd page section */
.page3 {
    width: 100%;
    height: 130vh;
    display: flex;
    background-color: #ce95fd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .page3 .heading{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .page3 .heading h1{
    font-size: 30px;
    color: purple;
  }
  .page3 .heading p{
    font-size: 15px;
    color: rgb(61, 61, 61);
  }

  .page3 .collections{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .page3 .collections .card{
    width: 300px;
   height: 345px;
   border-radius: 5px;
   overflow: hidden;
    background-color:#800080;
  }
  .page3 .collections .card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: all .3s ease;
    z-index: 0;
}

.page3 .collections .card img:hover{
    transform: scale(1.08);
  }

  .page3 .collections .card .content{
    width: 300px;
     background-color: white;
  }
  .card > .content > .line1{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
  }
  .card > .content > h1{
    font-size: 15px;
    text-align: center;
    padding:0 10px;
  }
  .card > .content > .line2{
    font-size: 10px;
    text-align: center;
    padding:0 10px;
  }
  .card > .content > .line3{
    text-align: center;
    padding:0 10px;
    display: flex;
    font-size: 18px;
    width: 100%;
    gap: 10px;
}
.card > .content > .line3 >.mid{
    text-align: center;
    width: 33.3%;
    margin: 10px 0;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding:5px 0;
    border: 1px solid black;
}

.line3 >.mid > p{
    font-size: 12px;
  }