@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

html, body{
height: 100%;
width: 100%;
}

body{
background-color: #f0c7f0;
}

nav{
    width: 100%;
    height: 8vh;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
}

nav .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

nav .left img {
    width: 50px;
}

nav .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
nav .right ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    list-style: none;
}

nav .right ul li:hover{
    cursor: pointer;
    color: rgb(205, 171, 248);
}

nav .right button{
    padding: 5px 10px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: rgba(210, 162, 255, 0.452);
    border: 1px solid white;
}
nav .right button:hover{
    background-color: rgba(207, 113, 250, 0.74);
    cursor: pointer;
}

.menu{
    display: none;
    font-size: 25px;
}

.page1{
    padding-top: 5vh;
    width: 100%;
    height: 90vh;
    display: flex;
}

.page1 .left{
    width: 50%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 10px;
}

.page1 .left h1{
 font-size: 40px;
 color: #b146b1;
}
.page1 .left h3{
    font-size: 22px;
    color: #fc70fc;
}
.page1 .left p{
 font-size: 15px;
 color: gray;
 text-align: center;
 padding: 0 40px;
}

.page1 .left button{
    margin-top: 30px;
    padding: 8px 50px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #850785;
    border-radius: 5px;
    font-size: 18px;
    transition:all 0.3s ease;
}

.page1 .left button:hover{
    transform: scale(1.1);
    background-color: #a711a7a9;
    cursor: pointer;
}

.page1 .right{
    width: 50%;
    height: 90vh;
    background-image: url(https://img.freepik.com/premium-photo/simple-beautiful-modern-house-design-hd-image_974166-986.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}